
  
  
  h3 {
    color: #01050c;
    font-weight: normal;
    font-size: 30px;
    font-family: Arial;
    text-transform: lowercase;
  }
  
  label{
    color: #000408;
    font-weight: normal;
    font-size: 30px;
    font-family: Arial;
    text-transform: lowercase;
  }
  .card-body > form-group{ 
      background: #000;
      color: #000;
  }
    
  
  button{
    width:100%; 
    height:100%;
    
  }
    