<div class="container">
  <div class="card">
    <div class="card.header">
      <h3>Visitas</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="visitaForm">
        <div class="form-group">
          <label for="">Nombre:</label>
          <input
            formControlName="nombre"
            name="dni"
            type="text"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">De donde nos visitas</label>
          <input
            formControlName="domicilio"
            name="nombre"
            type="text"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="">Localidad</label>
          <input
            formControlName="localidad"
            name="fechaEnterramiento"
            type="text"
            class="form-control"
          />
        </div>

        <div class="form-group">
          <label for="">Correo</label>
          <input
            formControlName="correo"
            name="se"
            type="text"
            class="form-control"
          />
        </div>
        
        <div class="form-group">
          <button 
            class="btn btn-primary"
            (click)="onGuardarVisita()">Registrar Visita</button>
        </div>
      </form>
    </div>
  </div>
</div>
