<navbar-panteon [isLogin]="false"></navbar-panteon>
<div class="container ">
  <div class="card">
    <div class="card.header">
      <h3 align="center" font="#F3F5F8" > Login</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="">Correo:</label>
          <input formControlName="correo" name="correo" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Contraseña:</label>
          <input formControlName="contrasena" name="contrasena" type="password" class="form-control">
        </div>
        <div class="form-group">
          <button 
            class="btn btn-primary"
            (click)="onLogin()">Login</button>
        </div>

      </form>
    </div>
  </div>
</div>
